KAGGLE_DATASET_SLUG=shaunthesheep/microsoft-catsvsdogs-dataset
MLFLOW_TRACKING_URI=sqlite:///mlflow.db
MODEL_VERSION=dev-local
IMAGE_NAME=ghcr.io/praveen-kanwar-bits/cats-dogs-mlops-pipeline
IMAGE_TAG=latest
PORT=8000
